.pipeline {
    border: 1px dashed;
    width: 15em;
    padding: 1ex;
    margin: 1ex;
    display: inline-block;
}

.pipeline h2 {
    font-size: 120%;
}

.stage {
    width: 2em;
    height: 1em;
    display: inline-block;
}

.stage {
    background-color: red;
    background: linear-gradient(to bottom, #ff5050, red);
}

.stage-result-passed {
    background-color: green;
    background: linear-gradient(to bottom, #8fc800, green);
}
.stage-result-notyet  {
    background-color: grey;
    background: linear-gradient(to bottom, #8f8f8f, grey);
}
