{% macro render_pipeline(pipeline, last_completed=0) %}
    <div class="pipeline">
        <h2><a href="{{base_url}}go/tab/pipeline/history/{{pipeline.name}}">{{ pipeline.name }}</a></h2>
        {% if last_completed %}
            <p>{{ pipeline.successfull_incomplete_runs }} run(s), {{ pipeline.last_completed }} since completion</p>
        {% endif %}
        <div class="stages">
            {% for stage in pipeline.runs[0] %}
                <div title="{{stage.name}}" class="stage stage-result-{{stage.result}}"></div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_pipeline_group(pipelines, last_completed=0) %}
<div class="pipeline-group">
{% for pipeline in pipelines %}
    {{ render_pipeline(pipeline, last_completed) }}
{% endfor %}
{% if not pipelines %}
<p class="pipeline-group-empty">(none)</p>
{% endif %}
</div>
{% endmacro %}

<html>
  <head>
    <title>Go CD Status -- gomon</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
      <h1 id="unreleased">Unreleased Pipelines</h1>
       {{ render_pipeline_group(unreleased, 1) }}

      <h1 id="failed">Failed Pipelines</h1>
       {{ render_pipeline_group(failed, 0) }}

       <h1 id="paused">Paused Pipelines</h1>
       {{ render_pipeline_group(paused, 0) }}

    <hr  />
    <p>Last updated: {{ last_updated }}</p>
  </body>
</html>
