Source: gomon
Section: main
Priority: optional
Maintainer: Moritz Lenz <moritz.lenz@gmail.com>
Build-Depends: debhelper (>=9), dh-virtualenv, dh-systemd, python-setuptools
Standards-Version: 3.9.6

Package: gomon
Architecture: all
Depends: python3 (>= 3.4)
Description: Build status dashboard for Go Continuous Delivery
